<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<div class="flex-row-center-center profile_page_box">
    <div class="profile_box flex-col-center-center" style="font-family:Roboto;">
        <div class="flex-row-center-center details_box">
            <div>
                <h3 style="margin-bottom:30px"><%= "Welcome to your profile"%></h3>
            </div>
        </div>
        <div class="flex-row-space-evenly-center posessed_details_box" style="flex-wrap: wrap">
            <div class="flex-col-center-center merch_details_box">
                <div><h5 style="text-decoration:underline">Purchased Merch</h5></div>
                <% if @merch_purchased.present? %>
                    <% @merch_purchased.each do |item| %>
                        <div class="flex-row-center-center"><%= item.product.name %></div>
                    <% end %>
                <% else %>
                    <div class="flex-row-center-center">Cart Empty</div>
                <% end %>
            </div>
        </div>
    </div>
</div>